<h1><%= @user.name %></h1>



<% if @user.created_projects.length == 0 %>
  <p> you haven't created any projects yet! </p>
<% else %>
<h3>Created Projects</h3>

<ul>
  <% @user.created_projects.each do |proj| %>
    <li><a href="<%= project_path(proj) %>"><%= proj.name %></a></li>
  <% end %>
</ul>

<% end %>

<h3>Supported Projects</h3>

<ul>
  <% @user.backings.each do |back| %>
    <li>Backed <a href="<%= project_path(back.project)%>"><%= back.project.name %></a> for $<%= back.amount %></li>
  <% end %>
</ul>
